<div class="cv-body">
    <div class="cv-header">
        <div>
            <p class="header-p name">Yousaf Kamran</p>
        </div>
        <div class="email-container">
            <span class="mail icon"></span>
            <p class="header-p email">yousafkamran02@gmail.com</p>
        </div>

        <div class="email-container">
            <span class="phone icon"></span>
            <p class="header-p email">03135279053</p>
        </div>

    </div>
    <div class="body">
        <div class="education">
            <p class="header-p">Education</p>
        </div>
        <div>
            <p>Program</p>
        </div>
        <div> 
            <p>Name</p><p>start-end date</p></div>
    </div>
</div>