
nav{
    background: linear-gradient(to right, rgba(254, 112, 226, 0.699),
     rgba(116, 2, 142, 0.79)); /* Start with white and transition to purple */
}
nav img{
    padding: 10px;
    width: 100px;
}