.form-body{
     background: linear-gradient(to bottom, rgb(181, 14, 86),
    rgb(60, 1, 70));
    border: 2px;
    border-radius: 10px;
}
.text{
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
}
#space{
  padding-bottom: 20px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  height: 20px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}
.invalid-field{
  border-color: red;
}
.invalid-field-err{
  color: red;
  margin: 0;
  padding: 0;
  padding-left: 9px;
  font-size: x-small;
  font-weight: normal;
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: 'Merriweather';
}
input[type="submit"]{
    height: 40px;
    width: 250px;
    cursor: pointer;
    border: none ;
    border-radius: 15px;
    background-color: #e2396eb5;
    font-family: 'Merriweather';
    font-weight: bold;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: medium;
}

input[type="submit"]:hover {
  background-color: #c42457b5;
    top: 10px; /* Move the hovered element down by 2 pixels */
    box-shadow: none; /* Remove the box shadow effect */
  }
  
.button{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather';
}
p{
  color: rgb(146, 146, 146);
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather';
    font-weight: bold;
    margin: 0;
}
.or-line {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .or-line::before,
  .or-line::after {
    content: "";
    flex-grow: 1;
    border-top: 1.5px solid rgb(146, 146, 146);
  }
  
  .or-text {
    padding: 0 10px;
    font-weight: bold;
    color: rgb(146, 146, 146);
    font-family: 'Merriweather';
  }
  .reg-div{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    padding-bottom:30px ;
  }
.reg{
   font-size: medium;
    text-decoration: none;
    color: white;
    font-family: 'Merriweather';
    font-weight: bold;
    cursor: pointer;
    border: none ;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #e2396eb5;
}
.reg:hover {
  background-color: #c42457b5;
  top: 10px; /* Move the hovered element down by 2 pixels */
  box-shadow: none; /* Remove the box shadow effect */
}