.form-body {
  border: 2px solid black;
  padding: 20px;
  width: 400px;
  margin-top: 30px;
}

p {
  font-family: 'Merriweather';
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
  padding-left: 10px;
}

.pinfo {
  width: -webkit-fill-available;
  padding: 10px;
  margin: 10px;
}

.sum {
  height: 50px;
  resize: none;
  font-family: 'Merriweather';
}

label {

  font-family: 'Merriweather';
  margin-left: 9px;
}
.end{
  margin-left: 36%
}

.label{
  font-size: small;
  margin: 0;
}
input[type="checkbox"]{
    
  margin-left: 5%;
}
#endMonth {
  margin-left: 10%;
 
}
#startMonth{
  margin-left: 2%;
}
#endYear{
  margin-left: 2%;
}
#startYear{
  margin-left:2%;
}
.button-next {
  position: relative;
  bottom: 0;
  left: 63%;
  height: 30px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  width: 35%;
}

.edu {
  width: -webkit-fill-available;
  padding: 10px;
  margin: 10px;
}

input[type='date'] {
  width: 100px;
}

.sle {
  width: -webkit-fill-available;
}
.datest{
    height: 35px;
}
.diva{
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    margin-left: 2%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: rgb(185, 185, 185);
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Merriweather';
}
.buttonst{
    height: 30px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 35%;
}
.button{
    display: flex;
    justify-content: space-between;
}
