.form-body {
  border: 2px solid black;
  padding: 20px;
  width: 400px;
  height: 400px;
  margin-top: 8%;
  position: relative; /* Add this line */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-body::after { /* Add this block */
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid black;
  pointer-events: none;
}

.template {
  margin-top: 2%;
  border: 1px solid #80808057;
  padding: 3% 10px 3% 10px;
}

p {
  font-family: 'Merriweather';
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
  padding-left: 10px;
  background: antiquewhite;
}

textarea {
  height: 50px;
  resize: none;
}

.input {
  width: -webkit-fill-available;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border-style: hidden;
  background-color: rgba(255, 216, 164, 0.253);
  font-family: 'Merriweather';
}

input[type="checkbox"] {
  margin-left: 5%;
}

label {
  font-family: 'Merriweather';
  margin-left: 2%;
}

.end {
  margin-left: 40%
}

.label {
  font-size: x-small;
  margin: 0;
}

.Year{
  background-color: rgba(255, 216, 164, 0.253);
  margin-left: 5%;
  border: none;
  height: 35px;
  text-align: center;
}

.Month{
  background-color: rgba(255, 216, 164, 0.253);
  border: none;
  height: 35px;
  text-align: center;
}

#endMonth {
  margin-left: 10%;
}

#startMonth {
  margin-left: 2%;
}
.sle {
  width: -webkit-fill-available;
}
.a {
  cursor: progress;
  margin-top: 5.5%;
  margin-bottom: 7.5%;
  margin-left: 2%;
  font-weight: bold;
  font-family: 'Merriweather';
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  text-align: left;
  border: none;
  background: antiquewhite;
}

.buttonst {
  height: 30px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  width: 35%;
  cursor: pointer;
  background-color: #ffe29c;
  border: none;
}

.button {
  display: flex;
  justify-content: space-between;
}

.next {
  position: relative;
  bottom: 0;
  left: 63%;
  margin-top: 5%;
}

