<div class="form-body">
  <form>
    <div *ngIf="!showedu">
      <div>
        <p>Personal Information</p>
      </div>
      <div>
        <input class="input" type="text" placeholder="Full Name" value="" readonly>
      </div>
      <div>
        <input class="input" type="email" placeholder="Email" value="" readonly>
      </div>
      <div>
        <input class="input" type="number" name="telephone" placeholder="Telephone Number" ngModel #telephone telephone="ngModel" required>
      </div>
      <div>
        <textarea class="input" type="text" name="introduction" placeholder="Write your introduction in 50 words" ngModel #introduction introduction="ngModel" required></textarea>
      </div>
      <div>
        <button class="buttonst next" type="button" (click)="toggleregform()">Next</button>
      </div>
    </div>
    <div *ngIf="showedu && !showexp">
      <div>
        <p>Education</p>
      </div>
      <div *ngFor="let eduform of eduforms; let i=index">
        <div class="fold open template">
          <div>
            <select name="degree" class="sle input">
              <option value="Select Degree" selected disabled>Select Degree</option>
              <option value="Bachelor's degree (undergraduate)">Bachelor's degree (undergraduate)</option>
              <option value="Master's degree (Graduate)">Master's degree (Graduate)</option>
              <option value="Doctoral degree (Graduate)">Doctoral degree (Graduate)</option>
            </select>
          </div>
          <div>
            <input class="input" type="text" placeholder="Name of Program">
          </div>
          <div>
            <input class="input" type="number" placeholder="CGPA">
          </div>
          <div>
            <label for="startDate">Start:</label>
            <label class="end" for="endDate">End:</label>
            <input type="checkbox" id="disableEndDate" name="disableEndDate" (change)="togglendDate()">
            <label class="label" for="disableEndDate">Currently Studying</label>

          </div>
          <div>
            <select class="Month" id="startMonth" name="startMonth">
              <option value="" selected disabled>Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            <select class="Year" id="startYear" name="startYear">
              <option value="" selected disabled>Year</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
              <!-- Add more options for other years -->
            </select>
            <select class="Month" id="endMonth" [disabled]="isEndDateDisabled" name="endMonth">
              <option value="" selected disabled>Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            <select class="Year" id="endYear" [disabled]="isEndDateDisabled" name="endYear">
              <option value="" selected disabled>Year</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
          </div>
        </div>
        <!-- <div>
        <a href="javascript:void(0);" (click)="removeEducation()">Add another Education +</a>
      </div> -->
      </div>
      <div>
        <button type="button" class="a" (click)="addAnotherEducation()">Add another Education +</button>
      </div>

      <div class="button">
        <button type="button" class="buttonst" (click)="toggleregform()">Back</button>
        <button type="button" class="buttonst" (click)="toggleexpform()">Next</button>
      </div>
    </div>
    <div *ngIf="showexp && !showtco">
      <div>
        <p>Experience</p>
      </div>
      <div *ngFor="let expform of expforms; let i=index">
        <div class="fold open template">
          <div>
            <input class="input" type="text" placeholder="Name of company">
          </div>
          <div>
            <textarea class="input" placeholder="Write a short summary about your work in 250 words"></textarea>
          </div>
          <div>
            <label for="startDate">Start:</label>
            <label class="end" for="endDate">End:</label>
            <input type="checkbox" id="disableEndDate" name="disableEndDate" (change)="togglendDate()">
            <label class="label" for="disableEndDate">Currently Working</label>

          </div>
          <div>
            <select class="Month" id="startMonth" name="startMonth">
              <option value="" selected disabled>Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            <select class="Year" id="startYear" name="startYear">
              <option value="" selected disabled>Year</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
              <!-- Add more options for other years -->
            </select>
            <select class="Month" id="endMonth" [disabled]="isEndDateDisabled" name="endMonth">
              <option value="" selected disabled>Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            <select class="Year" id="endYear" [disabled]="isEndDateDisabled" name="endYear">
              <option value="" selected disabled>Year</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="a" (click)="addAnotherExp()">Add another Experience +</button>
      </div>
      <div class="button">
        <button class="buttonst" type="button" (click)="toggleexpform()">Back</button>
        <button class="buttonst" type="button" (click)="toggletcoform()">Next</button>
      </div>
    </div>

    <div *ngIf="showtco && !showpro">
      <div>
        <div>
          <p>Technical Courses</p>
        </div>
        <div *ngFor="let tcform of tcforms; let i=index">
          <div class="fold open template">
            <div>
              <input class="input" type="text" placeholder="Name of course">
            </div>
            <div>
              <textarea class="input" placeholder="Write keypoints of the course"></textarea>
            </div>
            <div>
              <label for="startDate">Start:</label>
              <label class="end" for="endDate">End:</label>
              <input type="checkbox" id="disableEndDate" name="disableEndDate" (change)="togglendDate()">
              <label class="label" for="disableEndDate">Currently Studying</label>

            </div>
            <div>
              <select class="Month" id="startMonth" name="startMonth">
                <option value="" selected disabled>Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
              <select class="Year" id="startYear" name="startYear">
                <option value="" selected disabled>Year</option>
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
                <!-- Add more options for other years -->
              </select>
              <select class="Month" id="endMonth" [disabled]="isEndDateDisabled" name="endMonth">
                <option value="" selected disabled>Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
              <select class="Year" id="endYear" [disabled]="isEndDateDisabled" name="endYear">
                <option value="" selected disabled>Year</option>
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="a" (click)="addAnothertc()">Add Another Course +</button>
        </div>
        <div class="button">
          <button class="buttonst" type="button" (click)="toggletcoform()">Back</button>
          <button class="buttonst" type="button" (click)="toggleproform()">Next</button>
        </div>
      </div>
    </div>

    <div *ngIf="showpro">
      <div>
        <p>Projects</p>
      </div>
      <div *ngFor="let pform of pforms;let i=index">
        <div class="fold open template">
          <div>
            <input class="input" type="text" placeholder="Name of project">
          </div>
          <div>
            <textarea class="input" placeholder="Write a short summary about your work in 50 words"></textarea>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="a" (click)="addAnotherp()">Add another Project +</button>
      </div>
      <div class="button">
        <button class="buttonst" type="button" (click)="toggleproform()">Back</button>
        <input  class="buttonst" type="submit">
      </div>
    </div>
  </form>
</div>